# Dependencies
node_modules/

# Build outputs
dist/
.angular/

# Environment & local config
.env
.env.local
.env.*.local

# IDEs and editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Operating system files
.DS_Store
Thumbs.db

# Logs & testing
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/